// header and Nav
header {
  z-index: 90;
  position: fixed;
  background-color: black;
  height: 60px;
  width: 100%;
  max-width: 1600px;
  nav {
    height: 100%;
    width: 100%;
    ul {
      list-style-type: none;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      li {
        flex: 1;
        text-align: center;
        a {
          padding: 5px;
          &:hover {
            color: rgb(220, 187, 1);
          }
        }
        button {
          width: 40px;
          height: 40px;
          background-color: black;
        }
      }
      #lg-li {
        flex: 4;
        a:hover {
          color: white;
        }
      }
    }
  }
}

// fullMenu styles
.fullMenu {
  width: 100vw;
  height: 100vh;
  z-index: 99;
  list-style-type: none;
  position: fixed;
  padding: 0 40px;
  background-color: black;
  li {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: rgb(68, 68, 68) solid 1px;
    &:first-child,
    &:last-child {
      border: none;
    }
    button {
      position: absolute;
      right: 25px;
      background-color: black;
      .icon {
        height: 35px;
        width: 35px;
      }
    }
    a {
      width: 100%;
      display: flex;
      p {
        padding: 0 30px;
      }
    }
  }
}
