// to allow header space to be fixed at top of pages
.home,
.contact,
.privacyPg,
.about {
  padding-top: 60px;
}

// home
.home {
  display: flex;
  flex-direction: column;
  .home-img {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(../assets/office.png);
    background-position: center;
    background-size: cover;
    div {
      text-align: center;
      height: 100%;
      width: 90%;
      h3 {
        margin: 10px 0;
        &:last-child {
          margin-bottom: 40px;
        }
      }
      a {
        display: block;
        width: 260px;
        border: none;
        background-color: rgb(220, 187, 1);
        color: black;
        font-weight: 500;
        padding: 20px;
        margin: 0 auto;
        &:hover {
          background-color: gold;
        }
      }
    }
  }
}

// contact
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    width: 100%;
    color: rgb(220, 187, 1);
    text-align: center;
  }
  .contact-main {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    align-items: flex-start;
    // form styles in Component.scss
    aside {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      min-height: 500px;
      padding: 0 10px;
      div {
        display: flex;
        flex-direction: column;
        p{
          display: inline-block;
        }
      }
    }
  }
  @media only screen and (max-width: 992px) {
    .contact-main {
      flex-direction: column;
      width: 100%;
      aside{
        padding: 0;
      }
    }
  }
  
}

// About page
//(mixin also used for whyUs banner in Component.scss)

@mixin main-body($width) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: $width;
  h2 {
    width: 100%;
    color: rgb(220, 187, 1);
    text-align: center;
  }
  .main-content {
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    gap: 10px;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      text-align: center;
      img {
        object-fit: cover;
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        width: 90%;
        height: auto;
      }
      p {
        width: 80%;
      }
      ul {
        width: 80%;
        display: flex;
        flex-direction: column;
        text-align: start;
        color: rgb(164, 164, 164);
      }
    }
  }
}

.about {
  @include main-body(90%);
}

// privacy-policy
.privacyPg {
  margin: 0 auto;
  width: 50%;
  h2 {
    text-align: center;
    color: rgb(220, 187, 1);
  }
  section {
    line-height: 1.5;
    p {
      margin: 2px 0;
    }
    ul {
      li {
        padding: 2px 0;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .privacyPg {
    width: 90%;
  }
}
