body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
  color: white;
}


body h1,
#header-h1 a {
  font-size: 22px;
}

body h2 {
  font-size: 38px;
}

body h3,
body button {
  font-size: 20px;
}

body h4,
body h5,
body a,
body p,
body li,
body section,
body td {
  font-size: 16px;
}

