.App {
  background-color: black;
  min-height: 100vh;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
  color: white;
}


body h1,
#header-h1 a {
  font-size: 22px;
}

body h2 {
  font-size: 38px;
}

body h3,
body button,
.btn {
  font-size: 20px;
}

body h4,
body h5,
body a,
body p,
body li,
body section,
body td {
  font-size: 16px;
}

body p, input{
  color: rgb(164, 164, 164);
}

.btn {
  display: block;
  width: 140px;
  border: none;
  background-color: rgb(220, 187, 1);
  color: black;
  font-weight: 500;
  padding: 20px;
  margin: 0 auto;
}

.btn:hover {
  background-color: gold;
}

a,
a:visited,
a:active {
  text-decoration: none;
}