/* App and body styles */
.App {
  display: block;
  background-color: rgb(22, 22, 22);
  min-height: 100vh;
  min-width: 280px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
  color: white;
}

/* Styles for text throught the website */
h1,
#lg-txt {
  font-size: 25px;
  color: white;
}

h2 {
  font-size: 75px;
  font-weight: 100;
}

h3,
button,
.btn {
  font-size: 22px;
}

h4,
h5,
a,
p,
li,
section,
input,
textarea,
textarea::placeholder {
  font-size: 18px;
}

/* resize h2 under md screen */
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 34px;
  }
}

/* main font colours */
p,
input,
li {
  color: rgb(164, 164, 164);
}

/* Link stylings */
a,
a:visited,
a:active {
  text-decoration: none;
}

/* <a> yellow link */
#yellowLink {
  padding: 4px;
  color: rgb(220, 187, 1);
  text-decoration: none;
}

#yellowLink:hover {
  color: gold;
}
